/* navbar */
.logo {
  width: 110px;
  height: 60px;
}

.button {
  background-color: white;
  width: 100px;
  padding: 5px;
  border-color: darkred;
  border-radius: 50px;
}
.button a {
  color: darkred;
  text-decoration: none;
}

/* hero section */
.hero-img {
  border-radius: 20px;
}

/* why to choose us */
.section2 {
  background-color: #f58d17;
}
.section2 h2 {
  text-align: center;
  color: white;
}

/* our partners */
.section3 h2 {
  text-align: center;
}

/* footer */
.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/food_700.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
#facebook{
  border-radius: 50%;
}
#twitter{
  border-radius: 50%;
}
#linkedin{
  border-radius: 50%;
}
